@import "tailwindcss";

:root { 
  --main-color :#0039aa;
  --main-color-opacity :#0039aa1f;
  --main-color-border :#0039aa79;
  --secondary-color :#3BBF5C;
  --secondary-color-opacity : #05a02c1e;
  --secondary-color-border :#05a02c70;
  --ligth-color: #F6F3F3;
   --ligth-color-opacity: #bbbbbb;
  
}

@layer itilities {
    /* primary section colors */
    .mainColor {
        color: var(--main-color);
    }
    
    .bgMainColor {
        background-color: var(--main-color);
        
    }

    .textMainColorHover{
        color: #000000;
        transition: all 0.5s ease-in-out;
    }
    .textMainColorHover:hover{
        color: var(--main-color)
    }

    .bgMainColorOpacity {
        background: var(--main-color-opacity);
    }   
    
    .borderMainColor {
        border: 1px solid var(--main-color-border);
    }

   

    /* secondary section colors */
    .secondaryColor{
        color: var(--secondary-color);
    }
    .bgSecondaryColor {
        background-color: var(--secondary-color);
        transition: all 0.5s ease-in-out;
    }

    .bgSecondaryColorOpacity{
        background-color: var(--secondary-color-opacity);
    }
    .borderSecondaryColor{
        border: 1px solid var(--secondary-color-border );
    }

    /* ligth section colors */
    .bgLigthColor {
        background-color: var(--ligth-color);
        color: rgb(68, 66, 66);
        border: 1px solid rgb(199, 182, 182);
        transition: all 0.5s ease-in-out;
    }
   

}